<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="passengerTextField">1</entry>
<entry key="truckOnButton">true</entry>
<entry key="truckOffButton">false</entry>
<entry key="probabilityPassenger">1.0</entry>
<entry key="passengerAiThread">5</entry>
<entry key="checkBoxMenu">false</entry>
<entry key="truckTextField">1</entry>
<entry key="openDisabled">true</entry>
<entry key="lifeTimePassenger">99</entry>
<entry key="passengerOffButton">false</entry>
<entry key="closeDisabled">false</entry>
<entry key="truckAiThread">5</entry>
<entry key="lifeTimeTruck">99</entry>
<entry key="mainAiThread">5</entry>
<entry key="probabilityTruck">1.0</entry>
<entry key="passengerOnButton">true</entry>
<entry key="close">false</entry>
<entry key="open">true</entry>
</properties>
